<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="top-header-content d-flex align-items-center justify-content-between">
                        <!-- Top Header Content -->
                        <div class="top-header-meta">
                            <p>Welcome to <span>Farmie</span>, we hope you will enjoy our products and have good
                                experience</p>
                        </div>
                        <!-- Top Header Content -->
                        <div class="top-header-meta text-right">
                            <a data-placement="bottom" data-toggle="tooltip" href="#"
                               title="infodeercreative@gmail.com"><i aria-hidden="true" class="fa fa-envelope-o"></i>
                                <span>Email: infodeercreative@gmail.com</span></a>
                            <a data-placement="bottom" data-toggle="tooltip" href="#" title="+1 234 122 122"><i
                                    aria-hidden="true" class="fa fa-phone"></i> <span>Call Us: +84 223 9000</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="famie-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class=" classy-navbar  navbar-expand-md justify-content-between">
                    <a class="nav-brand" href="index.html"><img alt="" src="../../../content/img/core-img/logo.png"></a>
                    <a (click)="toggleNavbar()" aria-controls="navbarResponsive" aria-expanded="false"
                       aria-label="Toggle navigation" class="navbar-toggler d-lg-none" data-target="#navbarResponsive"
                       data-toggle="collapse" href="javascript:void(0);">
                        <fa-icon icon="bars"></fa-icon>
                    </a>
                    <div [ngSwitch]="isAuthenticated()" [ngbCollapse]="isNavbarCollapsed"
                         class="navbar-collapse collapse"
                         id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li [routerLinkActiveOptions]="{exact: true}" class="nav-item" routerLinkActive="active">
                                <a (click)="collapseNavbar()" class="nav-link" routerLink="/">
                 <span>
                     <fa-icon icon="home"></fa-icon>
                     <span jhiTranslate="global.menu.home">Home</span>
                 </span>
                                </a>
                            </li>

                            <li *ngSwitchCase="true" [routerLinkActiveOptions]="{exact: true}"
                                class="nav-item dropdown pointer" display="dynamic"
                                ngbDropdown routerLinkActive="active">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="entity-menu"
                                   ngbDropdownToggle>
                 <span>
                     <fa-icon icon="th-list"></fa-icon>
                     <span jhiTranslate="global.menu.entities.main">
                         Entities
                     </span>
                 </span>
                                </a>
                                <ul aria-labelledby="entity-menu" class="dropdown-menu" ngbDropdownMenu>
                                    <li>
                                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }"
                                           class="dropdown-item"
                                           routerLink="category" routerLinkActive="active">
                                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                                            <span jhiTranslate="global.menu.entities.category">Category</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }"
                                           class="dropdown-item"
                                           routerLink="product" routerLinkActive="active">
                                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                                            <span jhiTranslate="global.menu.entities.product">Product</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" [routerLinkActiveOptions]="{exact: true}"
                                class="nav-item dropdown pointer"
                                display="dynamic" ngbDropdown routerLinkActive="active">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="admin-menu"
                                   ngbDropdownToggle>
                 <span>
                     <fa-icon icon="user-plus"></fa-icon>
                     <span jhiTranslate="global.menu.admin.main">Administration</span>
                 </span>
                                </a>
                                <ul aria-labelledby="admin-menu" class="dropdown-menu" ngbDropdownMenu>
                                    <li>
                                        <a (click)="collapseNavbar()" class="dropdown-item"
                                           routerLink="admin/user-management" routerLinkActive="active">
                                            <fa-icon fixedWidth="true" icon="user"></fa-icon>
                                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a (click)="collapseNavbar()" class="dropdown-item"
                                           routerLink="admin/jhi-metrics" routerLinkActive="active">
                                            <fa-icon fixedWidth="true" icon="tachometer-alt"></fa-icon>
                                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a (click)="collapseNavbar()" class="dropdown-item"
                                           routerLink="admin/jhi-health"
                                           routerLinkActive="active">
                                            <fa-icon fixedWidth="true" icon="heart"></fa-icon>
                                            <span jhiTranslate="global.menu.admin.health">Health</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a (click)="collapseNavbar()" class="dropdown-item"
                                           routerLink="admin/jhi-configuration" routerLinkActive="active">
                                            <fa-icon fixedWidth="true" icon="list"></fa-icon>
                                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a (click)="collapseNavbar()" class="dropdown-item" routerLink="admin/audits"
                                           routerLinkActive="active">
                                            <fa-icon fixedWidth="true" icon="bell"></fa-icon>
                                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a (click)="collapseNavbar()" class="dropdown-item" routerLink="admin/logs"
                                           routerLinkActive="active">
                                            <fa-icon fixedWidth="true" icon="tasks"></fa-icon>
                                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                                        </a>
                                    </li>
                                    <li *ngIf="swaggerEnabled">
                                        <a (click)="collapseNavbar()" class="dropdown-item" routerLink="admin/docs"
                                           routerLinkActive="active">
                                            <fa-icon fixedWidth="true" icon="book"></fa-icon>
                                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                                        </a>
                                    </li>
                                    <li *ngIf="!inProduction">
                                        <a (click)="collapseNavbar()" class="dropdown-item" href='./h2-console'
                                           target="_tab">
                                            <fa-icon fixedWidth="true" icon="hdd"></fa-icon>
                                            <span jhiTranslate="global.menu.admin.database">Database</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li *ngIf="languages && languages.length > 1" class="nav-item dropdown pointer"
                                display="dynamic"
                                ngbDropdown>
                                <a class="nav-link dropdown-toggle" href="javascript:void(0);"
                                   id="languagesnavBarDropdown"
                                   ngbDropdownToggle>
                 <span>
                     <fa-icon icon="flag"></fa-icon>
                     <span jhiTranslate="global.menu.language">Language</span>
                 </span>
                                </a>
                                <ul aria-labelledby="languagesnavBarDropdown" class="dropdown-menu" ngbDropdownMenu>
                                    <li *ngFor="let language of languages">
                                        <a (click)="changeLanguage(language);collapseNavbar();"
                                           [jhiActiveMenu]="language" class="dropdown-item"
                                           href="javascript:void(0);">{{language | findLanguageFromKey}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li [routerLinkActiveOptions]="{exact: true}" class="nav-item dropdown pointer"
                                display="dynamic"
                                ngbDropdown routerLinkActive="active">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="account-menu"
                                   ngbDropdownToggle>
               <span *ngIf="!getImageUrl()">
                 <fa-icon icon="user"></fa-icon>
                 <span jhiTranslate="global.menu.account.main">
                   Account
                 </span>
               </span>
                                    <span *ngIf="getImageUrl()">
                   <img [src]="getImageUrl()" alt="Avatar" class="profile-image rounded-circle">
               </span>
                                </a>
                                <ul aria-labelledby="account-menu" class="dropdown-menu" ngbDropdownMenu>
                                    <li *ngSwitchCase="true">
                                        <a (click)="collapseNavbar()" class="dropdown-item" routerLink="settings"
                                           routerLinkActive="active">
                                            <fa-icon fixedWidth="true" icon="wrench"></fa-icon>
                                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                                        </a>
                                    </li>
                                    <li *ngSwitchCase="true">
                                        <a (click)="collapseNavbar()" class="dropdown-item" routerLink="password"
                                           routerLinkActive="active">
                                            <fa-icon fixedWidth="true" icon="lock"></fa-icon>
                                            <span jhiTranslate="global.menu.account.password">Password</span>
                                        </a>
                                    </li>
                                    <li *ngSwitchCase="true">
                                        <a (click)="logout()" class="dropdown-item" id="logout">
                                            <fa-icon fixedWidth="true" icon="sign-out-alt"></fa-icon>
                                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                                        </a>
                                    </li>
                                    <li *ngSwitchCase="false">
                                        <a (click)="login()" class="dropdown-item" id="login">
                                            <fa-icon fixedWidth="true" icon="sign-in-alt"></fa-icon>
                                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                                        </a>
                                    </li>
                                    <li *ngSwitchCase="false">
                                        <a (click)="collapseNavbar()" class="dropdown-item" routerLink="register"
                                           routerLinkActive="active">
                                            <fa-icon fixedWidth="true" icon="user-plus"></fa-icon>
                                            <span jhiTranslate="global.menu.account.register">Register</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!-- Search Form -->
                <div class="search-form">
                    <form action="#" method="get">
                        <input id="search" name="search" placeholder="Type keywords &amp; press enter..." type="search">
                        <button class="d-none" type="submit"></button>
                    </form>
                    <!-- Close Icon -->
                    <div class="closeIcon"><i aria-hidden="true" class="fa fa-times"></i></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

